.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: black;
  margin: 20% auto;
  height: 100vh;
  position: relative;
}

.experience-content {
  padding: 20px 50px;
}

.experience-content .experience-circle .experience-heading {
  padding-bottom: 15px;
}

.experience-content .experience-subtitle {
  font-size: 12px;
}

.experience-content .experience-sentence {
  padding-bottom: 10px;
}

.experience-center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.experience-center-container h2 {
  padding: 10px;
  z-index: 1;
}

.experience-glass-card {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  width: 60%;
  height: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255, 0.42) 31.77%,
    #5c9df1 100%
  );
  /* mix-blend-mode: color-dodge; */
  -webkit-animation: move 25s infinite alternate;
  animation: move 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
  from {
    transform: translate(-60%, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(60%, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-60%, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(60%, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

.experience-circle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* height: 5rem;
  width: 5rem; */
  /* position: absolute; */
  border-radius: 50%;
  z-index: 2;
}

.experience-circle .company-logo {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: rgb(255, 255, 255);

  border-radius: 20%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .experience-container {
    margin: 10% auto;
  }

  .experience-glass-card {
    width: 80%;
  }

  .experience-circle {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .experience-circle .company-logo {
    width: 4rem;
    height: 4rem;
  }

  .experience-circle .experience-heading {
    text-align: center;
  }

  .experience-content {
    padding: 20px;
  }
}
