.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    margin: 20% auto;
    bottom: 0;
    height: 100vh;
  }

  .para {
    padding-inline: 20%;
  }
  
  @media (max-width: 750px) {
    .para {
      padding-inline: 10%;
    }
  }
  

  .about-container img {
    width: 30%;
    height: 35%;
    margin-top: 80px;
    transform: translateY(-10%);
  }
  
  @media (max-width: 750px) {
    .about-container img {
      width: 70%;
      height: 35%;
      margin-top: 80px;
      transform: translateY(-10%);
    }
  }
