@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.scroll{
    height: 60vh;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-marquee {
  position: relative;
  display:flex; 
  align-items:center;
  overflow-x: hidden;
  background-color: black;
}

.text-single {
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  will-change: transform;
}

.text {
  padding: 0;
  font-size: 3rem;
  display: inline-block;
  margin-right: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}