#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  --cursor-color: #000000
}

html.dark-mode {
  --cursor-color: #fff
}

* {
  box-sizing: border-box;
}
